<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="pdfimg.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <pdfimg.Properties.Settings>
            <setting name="LastFormat" serializeAs="String">
                <value>JPEG</value>
            </setting>
            <setting name="LastColorMode" serializeAs="String">
                <value>フルカラー</value>
            </setting>
            <setting name="LastDpi" serializeAs="String">
                <value>300</value>
            </setting>
        </pdfimg.Properties.Settings>
    </userSettings>
</configuration>